<br/>
<a id="linkServicio" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">  <button type="button" class="btn btn-outline-primary">Servicio</button></a>
<a id="linkCrearServicio" routerLink="./crear" routerLinkActive="active">  <button type="button" class="btn btn-outline-success">Crear servicio</button></a>
<a id="linkBorrarServicio" routerLink="./borrar" routerLinkActive="active">  <button type="button" class="btn btn-outline-danger">Borrar servicio</button></a>
<a id="linkListarServicio" routerLink="./listar" routerLinkActive="active">  <button type="button" class="btn btn-outline-info">listar servicio</button></a>


<router-outlet></router-outlet>
