<br/>

  <a id="linkCliente" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">  <button type="button" class="btn btn-outline-primary">Cliente</button></a>
  <a id="linkCrearCliente" routerLink="./crear" routerLinkActive="active">  <button type="button" class="btn btn-outline-success">Crear cliente</button></a>
  <a id="linkBorrarCliente" routerLink="./borrar" routerLinkActive="active">  <button type="button" class="btn btn-outline-danger">Borrar cliente</button></a>
  <a id="linkListarCliente" routerLink="./listar" routerLinkActive="active">  <button type="button" class="btn btn-outline-info">listar cliente</button></a>


<router-outlet></router-outlet>
