<br/>
<br/>
<div class="container">
<table class="table table-success table-striped">
  <caption>Tabla Clientes</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identificación</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listarClientes | async">
      <td>{{item.id}}</td>
      <td>{{item.identificacion}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefono}}</td>
    </tr>
  </tbody>
</table>
</div>
