<br/>
<br/>
<div class="container">
<a id="linkMascota" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">  <button type="button" class="btn btn-outline-primary">Mascota</button></a>
<a id="linkCrearMascota" routerLink="./crear" routerLinkActive="active">  <button type="button" class="btn btn-outline-success">Crear mascota</button></a>
<a id="linkBorrarMascota" routerLink="./borrar" routerLinkActive="active">  <button type="button" class="btn btn-outline-danger">Borrar mascota</button></a>
<a id="linkListarMascota" routerLink="./listar" routerLinkActive="active">  <button type="button" class="btn btn-outline-info">listar mascota</button></a>
</div>

<router-outlet></router-outlet>
